# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
!terraform/terraform.tfvars.example
.terraform.lock.hcl
terraform/*.zip

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/

# AWS credentials ??? never commit these
.aws/
credentials

# Model artifacts and data files
*.pt
*.pth
*.ckpt
mlruns/
ml/data/*.csv
ml/data/*.png
/data/
cifar-10-batches-py/

# Misc
.DS_Store
.env
.env.local
*.log

# Editor/IDE
.vscode/
.idea/

# Binaries and Archives
*.exe
*.tar
*.tar.gz
*.zip

# Testing
.pytest_cache/
.coverage
htmlcov/
